<html>
<head> <title> MOS Images Status </title> </head>

{% block body %}

<style>
 table, td, th {
    border: 1px solid black;
 }
 th {
    background-color: #D0D0D0;
    color: black;
    padding: 1px;
 }
</style>

<table>
 <thead>
  <tr>
   <th>Image #</th>
   <th>Build Date</th>
   <th>Build Status</th>
     {% for test_type in tests_types %}
         {% if 'cachers' not in test_type %}
             <th> {{ test_type }} </th>
         {% endif %}
     {% endfor %}
   <th>Image Links</th>
  </tr>
 </thead>
 <tbody>
  {% for image in images %}
      <tr class="mos_images_status">
        <td> <center> {{ image.get('build_number', '') }} </center> </td>
        <td>{{ image.get('date', '') }}</td>
        <td> <b> <center>

        <a href="{{ image.get('url', '')[:-21] }}">

        {% if image.get('build_status', '') == 'SUCCESS' %}
           <font color="green"> PASS
        {% elif image.get('build_status', '') == 'IN PROGRESS' %}
           <font color="orange"> IN PROGRESS
        {% else %}
           <font color="red">
             {% if image.get('build_status', '') == 'FAILURE' %}
               FAIL
             {% else %}
               {{ image.get('build_status', '') }}
             {% endif %}
        {% endif %}
        </font> </a> </center> </b> </td>
        {% for test in tests_types %}
          {% if 'cachers' not in test %}
              <td> <b> <center>

              <a href="{{ image.get('tests', {}).get(test.replace('.', '_'), {}).get('url', '')[:-21] }}">

              {% if image.get('tests', {}).get(test.replace('.', '_'), {}).get('status', '') == 'SUCCESS' %}
                <font color="green">PASS
              {% elif image.get('tests', {}).get(test.replace('.', '_'), {}).get('status', '') == 'IN PROGRESS' %}
                <font color="orange">IN PROGRESS
              {% elif image.get('tests', {}).get(test.replace('.', '_'), {}).get('status', '') == '' %}
                <font color="black">NOT EXECUTED
              {% else %}
                <font color="red">
                  {% if image.get('tests', {}).get(test.replace('.', '_'), {}).get('status', '') == 'FAILURE' %}
                    FAIL
                  {% else %}
                    {{ image.get('tests', {}).get(test.replace('.', '_'), {}).get('status', '') }}
                  {% endif %}
              {% endif %}

              </font></a> </center> </b> </td>
           {% endif %}
        {% endfor %}
        <td>
          <a href="{{ image.get('iso_link', '') }}">ISO</a> &nbsp;
          <a href="{{ image.get('torrent_link', '') }}">Torrent</a> &nbsp;
          <a href="{{ image.get('magnet_link', '') }}">Magnet</a>
        </td>
      </tr>
  {% endfor %}
 </tbody>
</table>

{% endblock %}
